.about-page {
    display: flexbox;
    background-color: rgb(162, 158, 167);
    height: 100vh;
    margin-top: -10.8vh;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.profile {
    width: 230px;
    height: 250px;
    border-radius: 25%;
    object-fit: cover;
    border: 3px solid #9b5c5c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  h2 {
    font-size: 32px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
  }
  
  p {
    margin-top: 3px;
    margin-bottom: .05vh;
    font-size: 18px;
  }
  
  p a {
    color:black;
    text-decoration: underline;
    transition: color 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  p a:hover {
    color: #0056b3;
  }
  
  .paragraph {
    font-size: 18px;
    line-height: 1.8;
    font-family:"Fjalla One",sans-serif;
    color:#0d2035;
    margin-top: 25px;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
  }
  

